@use "variables" as *;

footer{
    background-color: $brand-color;
    color: white;
    display: flex;
}
footer > p{
    font-size: small;
    text-align: center;
    margin: 10px;
    font-family: $navigationFont;

}
