@use "variables" as *;

footer{
    background-color: $dark-brand-color;
    color: white;
    display: flex;
    justify-content: center;

    & > p{
        text-align: center;
        margin: 10px;
        font-family: $roboto-c-font;
        font-weight: 400;

    }
}

