header {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1;
}

header > div:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    padding: 5px;
}

header > div:nth-child(3) {
    grid-row: 1;
    grid-column: 1;
    justify-self: right;
    margin-top: 5px;
}
header > div:nth-child(4) {
    grid-row: 2;
    grid-column: 1;
}

#social-media,
#search-bar {
    display: none;
}
#main-navigation{
    display: flex;
    flex-direction: column;
}

@media (min-width: 331px) {
    /* Styles for the image when the viewport is 330px or smaller */
    #logo img{
      width: 70%; /* Adjust the width for smaller screens if needed */
      /* Additional styling for smaller screens */
    }
}



/* phone small: logo change*/
@media (min-width: 330px){

}

/*tablet small: hamburger menu is gone, search bar goes on top*/
@media (min-width: 500px){
    header {
        display: grid;
        grid-template-rows: 100px 1fr;
        grid-template-columns: 1;
    }
    #btn-menu {
        display:none;
    }

    #search-bar{
        display:block;
        grid-row: 1;
        grid-column: 1;
        justify-self: right;
    }
}

/*tablet large: the two images goes side to side*/
@media (min-width: 650px){

}

/* social media, and search bar are on top */
@media (min-width: 700px){
    #social-media{
        display: block;
        grid-row: 1;
        grid-column: 1;
        justify-self: right;
    }


}

/* desktop: side bar appears, search goes into nav bar */
@media (min-width: 800px){
    #search-bar{
        grid-row: 2;
        grid-column: 1;
        justify-self: right;
    }

}

/* desktop-xl: have a bg image,  */
@media (min-width: 1000px){

}