@use "variables" as *;
/* Styling navigation bar for mobile view */
nav {
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	background-color: $brand-color;

    ul {
	padding: 0;
	margin: 0;
	list-style: none;
    }
    a {
        text-decoration: none;
        padding: 0 12px;
        display: block;
        border-right: none;
        color: white;
        border:1px solid $dark-brand-color;
        // border-top: 2px solid black;
        line-height: 40px;
        font-family: $roboto-c-font;
        font-weight:400;
        text-align: center;
        &:hover,
        &:active,
        &:focus {
        outline: 2px solid $brand-color;
        background-color: white;
        border-bottom: none;
        color: #427398;
        }
    }
    &.activated {
        transition: height calc(($trans-time)*1s) ease, visibility 0s 0.3s;
    }
    .show & {
        transition: height calc(($trans-time)*1s) ease, visibility 0s;
        visibility: visible;
        height: 290px;
    }

    #socialinham{
        font-size: 20px;
    }
    
    #searchinham input{
        flex: 1;
        font-size: 14px;
        background-color: #dedede;
        border: none;
        height: 44px;
        width: 100%;
        border-radius:5px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 15px;
        font-family: $roboto-c-font;
        font-weight: 400;
        font-size: 20px;
    }
    #searchinham button {
        position: absolute;
        right: 0px;
        top: 60px;
        background: none;
        border: none;
        cursor: pointer;
    }
    #socialinham a,
    #socialinham:hover a{
        border: none; /* Remove underline for social icons */
    }
}
#socialinham{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-bottom: 2px solid black;
    height: auto;
}

#socialinham a:hover .fa-facebook-f::before,
#socialinham a:hover .fa-google::before,
#socialinham a:hover .fa-twitter::before {
color: $social-media-hover-color;
}

/* Styling navigation bar for desktop view */
@media (min-width: 500px) {
    #searchinham{
        display: none;
    }
    #socialinham{
        display: none;
    }
    nav {
        visibility: visible;
        height: 45px;
        background-color: $brand-color;
        ul {
            display: flex;
        }
        li {
            flex: 1;
        }
        a {
            color: white;
            text-decoration: none;
            line-height: 45px;
            text-align: center;
            border: none;
                
        &:hover,
        &:active,
        &:focus {
        background-color: white;
        color: $brand-color;
        outline: none;
        }
    }
}
}

@media (min-width: 1000px){

}