/* SASS variables */
$bar-color: grey;
$border-color:rgba(167, 157, 157, 0.322);
$hover-color: rgba(255, 255, 255, 0.3);
$trans-time: 1;
$brand-color: rgb(26, 113, 169);

$navigationFont: "Roboto Condensed", sans-serif;
$headingsFont: "Roboto Condensed", sans-serif;
$bodyFont: "Roboto Light", sans-serif;

$social-media-hover-color: #9f9fa2;