/* SASS variables */
$trans-time: 1;
$brand-color: #1a70a9;
$dark-brand-color: #005991;
$border-color: #095182;
$social-media-hover-color: #9f9fa2;

/* Fonts */
$roboto-c-font: "Roboto Condensed", sans-serif;
$roboto-font: "Roboto", sans-serif;
