/* SASS variables */
$bar-color: grey;
$border-color:rgba(167, 157, 157, 0.322);
$trans-time: 1;
$brand-color: #1a70a9;
$dark-brand-color: #005991;

//Nav fw = 700; headings fw = 400;
$roboto-c-font: "Roboto Condensed", sans-serif;
//body fw = 300;
$roboto-font: "Roboto", sans-serif;

$social-media-hover-color: #9f9fa2;